.phonebook, .contacts{
    font-size: 18px;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px #000 solid;
    border-radius: 4px;
    padding: 15px 0 10px 10px;
    gap: 20px;
    width: 300px;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    width: 130px;
    font-size: 14px;
}

.button{
    width: 90px;
    font-size: 14px;
}

.nameInput{
    font-size: 16px;
}

.itemContscts{
    font-size: 16px;
}